<!DOCTYPE html>

	<html>

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

	    {% if page.use_math %}
	      {% include mathjax_support %}
	    {% endif %}
		</head>
		<body>
			<center>
				<nav>
		    		<ul>
		        		<li><a href="/">Home</a></li>
			        	<li><a href="/publications.html">Publications</a></li>
			        	<li><a href="/projects">Projects</a></li>
								<li><a href="/files/KazuyaOtaniCV.pdf">CV</a></li>
		    		</ul>
				</nav>
			</center>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<center><ul>
				    <li><a target="_blank" href="https://github.com/kazuotani14">Github</a></li>
				    <li><a target="_blank" href="https://www.linkedin.com/in/kazuyaotani">LinkedIn</a></li>
				    <li><a target="_blank" href="https://www.goodreads.com/kazuotani14">Goodreads</a></li>
	        	<li><a href="/notes.html">Notes</a></li>
				</ul></center>
			</footer>
		</body>
	</html>
