<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<center>
				<nav>
		    		<ul>
		        		<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
			        	<li><a href="/projects">Projects</a></li>
								<li><a href="/files/KazuyaOtaniCV.pdf">CV</a></li>
		    		</ul>
				</nav>
			</center>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<center><ul>
				    <li><a href="mailto:kazuotani14@gmail.com">kazuotani14@gmail.com</a></li>
				    <li><a target="_blank" href="https://www.linkedin.com/in/kazuyaotani">LinkedIn</a></li>
				    <li><a target="_blank" href="https://github.com/kazuotani14">Github</a></li>
				</ul></center>
			</footer>
		</body>
	</html>
